<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="stylesheets/transfer.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-4.5.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/fontawesome-free-5.15.0-web/css/all.css" />

    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container text-white">
                    <strong>Hello, <%= name %></strong>
                    <div class="float-right"><div class="d-inline">Your bank number: <%= number %>, Balance: <%= balance %> | </div>
                    <a href="../logout">Logout</a></div>
                    
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <h1 style="margin: auto;">Transfer form</h1>
                    <div class="transfer-container col-12 mt-2">
                        <form method="post">
                            <input type="number" class="form-control mb-1" name="input_number" id="input_number"
                                placeholder="Bank number" onblur="getHolder()" required>
                            <input type="text" class="form-control mb-1" name="input_name" id="input_name"
                                placeholder="Bank Holder" disabled>
                            <input type="number" class="form-control mb-1" name="input_value" id="input_value"
                                placeholder="Value" required>
                            <!-- <input type="number" class="form-control mb-1" name="otp" id="otp" placeholder="OTP"
                                required> -->

                            

                                            <div class="button-box mt-1"></div>
                                            <button type="submit"
                                                class="btn btn-primary float-right mt-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it
                entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p> -->
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <h1 style="text-align: center">Transaction History</h1>
                <div class="row"><table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Time</th>
                        <th scope="col">From</th>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% if (hasError) { errors.map(function(error) { %>
                            <label style="color:red !important; display: inherit !important; max-width:400px">
                                <%= error %>
                            </label>
                            <% }) } %>

                                <% if (transfer) { transfers.map(function(trans) { %>
                                    <tr>
                                    <th scope="row"><%= trans.createdAt.toLocaleString() %></th>
                                    <td><%= trans.fromToNumber %></td>
                                    <td><%= trans.type %></td>
                                    <td><%= trans.value %></td>
                                    <% }) } %>
                                </tr>
                      <!-- <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr> -->
                    </tbody>
                  </table></div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
    </footer>
    <!-- Javascript/jquery files -->
    <!-- Main javascript -->
    
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="stylesheets/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <!-- Font awesome -->
    <script src="javascripts/fontawesome.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        function getHolder() {
            var name = document.getElementById("input_name");
            var number = document.getElementById("input_number");
            axios
                .get(
                    `/transfer/get-holder?input_number=${number.value}`
                )
                .then((res) => {
                    if (!res.data.hasError) {
                        name.value = res.data.name
                        number.setCustomValidity('');
                    } else {
                        name.value = "";
                        number.setCustomValidity('Wrong bank number');
                    }
                })
                .catch((err) => {
                    console.log(err);
                });
        };

    </script>

</body>

</html>